<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title><%=title%></title>
	<meta name="description" content="#">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap core CSS -->
	<link href="<%=style1%>" type="text/css" rel="stylesheet">
	<!-- Swipe core CSS -->
	<link href="<%=style2%>" type="text/css" rel="stylesheet">
	<!-- Favicon -->
	<link href="img/favicon.ico" type="image/ico" rel="icon">
</head>

<body>
	<main>
		<div class="layout">
			<!-- Start of Navigation -->
			<div class="navigation">
				<div class="container">
					<div class="inside">
						<div class="nav nav-tab menu">
<<<<<<< HEAD
							<button class="btn"><img class="avatar-xl" src='img/avatars/avatar-male-1.jpg'
=======
							<button class="btn"><img class="avatar-xl" src="img/avatars/avatar-male-1.jpg"
>>>>>>> 520fd320d8b42beed9344066521cb0f2c2b68d5e
									alt="avatar"></button>
							<a href="#members" data-toggle="tab"><i class="material-icons">account_circle</i></a>
							<a href="#discussions" data-toggle="tab" class="active"><i
									class="material-icons active">chat_bubble_outline</i></a>
							<button class="btn power" onclick="visitPage();"><i
									class="material-icons">power_settings_new</i></button>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Navigation -->
			<!-- Start of Sidebar -->
			<div class="sidebar" id="sidebar">
				<div class="container">
					<div class="col-md-12">
						<div class="tab-content">
							<!-- Start of Contacts -->
							<div class="tab-pane fade" id="members">
								<div class="search">
									<form class="form-inline position-relative">
										<input type="search" class="form-control" id="people"
											placeholder="Search for people...">
										<button type="button" class="btn btn-link loop"><i
												class="material-icons">search</i></button>
									</form>
									<button class="btn create" data-toggle="modal" data-target="#exampleModalCenter"><i
											class="material-icons">person_add</i></button>
								</div>
								<div class="contacts">
									<h1>Contacts</h1>
									<div class="list-group" id="contacts" role="tablist">
										<a href="#" class="filterMembers all online contact" data-toggle="list">
											<img class="avatar-md" src="img/avatars/avatar-female-1.jpg"
												data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
											<div class="status">
												<i class="material-icons online">fiber_manual_record</i>
											</div>
											<div class="data">
												<h5>Janette Dalton</h5>
												<p>Sofia, Bulgaria</p>
											</div>
											<div class="person-add">
												<i class="material-icons">person</i>
											</div>
										</a>
										<a href="#" class="filterMembers all online contact" data-toggle="list">
											<img class="avatar-md" src="img/avatars/avatar-male-1.jpg"
												data-toggle="tooltip" data-placement="top" title="Michael" alt="avatar">
											<div class="status">
												<i class="material-icons online">fiber_manual_record</i>
											</div>
											<div class="data">
												<h5>Michael Knudsen</h5>
												<p>Washington, USA</p>
											</div>
											<div class="person-add">
												<i class="material-icons">person</i>
											</div>
										</a>
										<a href="#" class="filterMembers all online contact" data-toggle="list">
											<img class="avatar-md" src="img/avatars/avatar-female-2.jpg"
												data-toggle="tooltip" data-placement="top" title="Lean" alt="avatar">
											<div class="status">
												<i class="material-icons online">fiber_manual_record</i>
											</div>
											<div class="data">
												<h5>Lean Avent</h5>
												<p>Shanghai, China</p>
											</div>
											<div class="person-add">
												<i class="material-icons">person</i>
											</div>
										</a>
									</div>
								</div>
							</div>
							<!-- End of Contacts -->
							<!-- Start of Discussions -->
							<div id="discussions" class="tab-pane fade active show">
								<div class="search">
									<form class="form-inline position-relative">
										<input type="search" class="form-control" id="conversations"
											placeholder="Search for conversations...">
										<button type="button" class="btn btn-link loop"><i
												class="material-icons">search</i></button>
									</form>
									<button class="btn create" data-toggle="modal" data-target="#startnewchat"><i
											class="material-icons">create</i></button>
								</div>
								<div class="discussions">
									<h1>Conversations</h1>
									<div class="list-group" id="chats" role="tablist">
										<a href="#list-chat" class="filterDiscussions all unread single active"
											id="list-chat-list" data-toggle="list" role="tab">
											<img class="avatar-md" src="img/avatars/avatar-female-1.jpg"
												data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
											<div class="status">
												<i class="material-icons online">fiber_manual_record</i>
											</div>
											<div class="new bg-yellow">
												<span>+7</span>
											</div>
											<div class="data">
												<h5>Janette Dalton</h5>
												<span>Mon</span>
												<p>A new feature has been updated to your account. Check it out...</p>
											</div>
										</a>
										<a href="#list-empty" class="filterDiscussions all unread single"
											id="list-empty-list" data-toggle="list" role="tab">
											<img class="avatar-md" src="img/avatars/avatar-male-1.jpg"
												data-toggle="tooltip" data-placement="top" title="Michael" alt="avatar">
											<div class="status">
												<i class="material-icons offline">fiber_manual_record</i>
											</div>
											<div class="new bg-pink">
												<span>+10</span>
											</div>
											<div class="data">
												<h5>Michael Knudsen</h5>
												<span>Sun</span>
												<p>How can i improve my chances of getting a deposit?</p>
											</div>
										</a>
										<a href="#list-chat" class="filterDiscussions all read single"
											id="list-chat-list2" data-toggle="list" role="tab">
											<img class="avatar-md" src="img/avatars/avatar-female-2.jpg"
												data-toggle="tooltip" data-placement="top" title="Lean" alt="avatar">
											<div class="status">
												<i class="material-icons offline">fiber_manual_record</i>
											</div>
											<div class="data">
												<h5>Lean Avent</h5>
												<span>Tus</span>
												<p>Hey Chris, could i ask you to help me out with variation...</p>
											</div>
										</a>
										<a href="#list-empty" class="filterDiscussions all read single"
											id="list-empty-list3" data-toggle="list" role="tab">
											<img class="avatar-md" src="img/avatars/avatar-female-5.jpg"
												data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">
											<div class="status">
												<i class="material-icons offline">fiber_manual_record</i>
											</div>
											<div class="data">
												<h5>Keith Morris</h5>
												<span>Fri</span>
												<p>All your favourite books at your reach! We are now mobile.</p>
											</div>
										</a>
									</div>
								</div>
							</div>
							<!-- End of Discussions -->
							<!-- Start of Logout -->
							<div class="category">
								<a href="index.html" class="title collapsed">
									<i class="material-icons md-30 online">power_settings_new</i>
									<div class="data">
										<h5>Power Off</h5>
										<p>Log out of your account</p>
									</div>
									<i class="material-icons">keyboard_arrow_right</i>
								</a>
							</div>
							<!-- End of Logout -->
						</div>
					</div>
				</div>
			</div>
			<!-- End of Sidebar -->
			<!-- Start of Add Friends -->
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="requests">
						<div class="title">
							<h1>Add your friends</h1>
							<button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i
									class="material-icons">close</i></button>
						</div>
						<div class="content">
							<form>
								<div class="form-group">
									<label for="user">Username:</label>
									<input type="text" class="form-control" id="user" placeholder="Add recipient..."
										required>
									<div class="user" id="contact">
										<img class="avatar-sm" src="img/avatars/avatar-female-5.jpg"
											alt="avatar">
										<h5>Keith Morris</h5>
										<button class="btn"><i class="material-icons">close</i></button>
									</div>
								</div>
								<div class="form-group">
									<label for="welcome">Message:</label>
									<textarea class="text-control" id="welcome"
										placeholder="Send your welcome message...">Hi Keith, I'd like to add you as a contact.</textarea>
								</div>
								<button type="submit" class="btn button w-100">Send Friend Request</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Add Friends -->
			<!-- Start of Create Chat -->
			<div class="modal fade" id="startnewchat" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="requests">
						<div class="title">
							<h1>Start new chat</h1>
							<button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i
									class="material-icons">close</i></button>
						</div>
						<div class="content">
							<form>
								<div class="form-group">
									<label for="participant">Recipient:</label>
									<input type="text" class="form-control" id="participant"
										placeholder="Add recipient..." required>
									<div class="user" id="recipient">
										<img class="avatar-sm" src="img/avatars/avatar-female-5.jpg"
											alt="avatar">
										<h5>Keith Morris</h5>
										<button class="btn"><i class="material-icons">close</i></button>
									</div>
								</div>
								<div class="form-group">
									<label for="topic">Topic:</label>
									<input type="text" class="form-control" id="topic" placeholder="What's the topic?"
										required>
								</div>
								<div class="form-group">
									<label for="message">Message:</label>
									<textarea class="text-control" id="message"
										placeholder="Send your welcome message...">Hmm, are you friendly?</textarea>
								</div>
								<button type="submit" class="btn button w-100">Start New Chat</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Create Chat -->
			<div class="main">
				<div class="tab-content" id="nav-tabContent">
					<!-- Start of Babble -->
					<div class="babble tab-pane fade" id="list-empty" role="tabpanel" aria-labelledby="list-empty-list">
						<!-- Start of Chat -->
						<div class="chat" id="chat2">
							<div class="top">
								<div class="container">
									<div class="col-md-12">
										<div class="inside">
											<a href="#"><img class="avatar-md"
													src="img/avatars/avatar-female-2.jpg" data-toggle="tooltip"
													data-placement="top" title="Lean" alt="avatar"></a>
											<div class="status">
												<i class="material-icons offline">fiber_manual_record</i>
											</div>
											<div class="data">
												<h5><a href="#">Lean Avent</a></h5>
												<span>Inactive</span>
											</div>
											<button class="btn d-md-block d-none"><i
													class="material-icons md-30">info</i></button>
											<div class="dropdown">
												<button class="btn" data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false"><i
														class="material-icons md-30">more_vert</i></button>
												<div class="dropdown-menu dropdown-menu-right">
													<button class="dropdown-item"><i
															class="material-icons">clear</i>Clear History</button>
													<button class="dropdown-item"><i
															class="material-icons">block</i>Block Contact</button>
													<button class="dropdown-item"><i
															class="material-icons">delete</i>Delete Contact</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="content empty">
								<div class="container">
									<div class="col-md-12">
										<div class="no-messages">
											<i class="material-icons md-48">forum</i>
											<p>Seems people are shy to start the chat. Break the ice send the first
												message.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="col-md-12">
									<div class="bottom">
										<form class="position-relative w-100">
											<textarea class="form-control" placeholder="Start typing for reply..."
												rows="1"></textarea>
											<button class="btn emoticons"><i
													class="material-icons">insert_emoticon</i></button>
											<button type="submit" class="btn send"><i
													class="material-icons">send</i></button>
										</form>
										<label>
											<input type="file">
											<span class="btn attach d-sm-block d-none"><i
													class="material-icons">attach_file</i></span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<!-- End of Chat -->
					</div>
					<!-- End of Babble -->
					<!-- Start of Babble -->
					<div class="babble tab-pane fade active show" id="list-chat" role="tabpanel"
						aria-labelledby="list-chat-list">
						<!-- Start of Chat -->
						<div class="chat" id="chat1">
							<div class="top">
								<div class="container">
									<div class="col-md-12">
										<div class="inside">
											<a href="#"><img class="avatar-md"
													src="img/avatars/avatar-female-5.jpg" data-toggle="tooltip"
													data-placement="top" title="Keith" alt="avatar"></a>
											<div class="status">
												<i class="material-icons online">fiber_manual_record</i>
											</div>
											<div class="data">
												<h5><a href="#">Keith Morris</a></h5>
												<span>Active now</span>
											</div>
											<button class="btn d-md-block d-none"><i
													class="material-icons md-30">info</i></button>
											<div class="dropdown">
												<button class="btn" data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false"><i
														class="material-icons md-30">more_vert</i></button>
												<div class="dropdown-menu dropdown-menu-right">
													<button class="dropdown-item"><i
															class="material-icons">clear</i>Clear History</button>
													<button class="dropdown-item"><i
															class="material-icons">block</i>Block Contact</button>
													<button class="dropdown-item"><i
															class="material-icons">delete</i>Delete Contact</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="content" id="content">
								<div class="container">
									<div class="col-md-12">
										<div class="date">
											<hr>
											<span>Yesterday</span>
											<hr>
										</div>
										<div class="message">
											<img class="avatar-md" src="img/avatars/avatar-female-5.jpg"
												data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">
											<div class="text-main">
												<div class="text-group">
													<div class="text">
														<p>We've got some killer ideas kicking about already.</p>
													</div>
												</div>
												<span>09:46 AM</span>
											</div>
										</div>
										<div class="message me">
											<div class="text-main">
												<div class="text-group me">
													<div class="text me">
														<p>Can't wait! How are we coming along with the client?</p>
													</div>
												</div>
												<span>11:32 AM</span>
											</div>
										</div>
										<div class="message">
											<img class="avatar-md" src="img/avatars/avatar-female-5.jpg"
												data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">
											<div class="text-main">
												<div class="text-group">
													<div class="text">
														<p>Coming along nicely, we've got a draft for the client
															quarries completed.</p>
													</div>
												</div>
												<span>02:56 PM</span>
											</div>
										</div>
										<div class="message me">
											<div class="text-main">
												<div class="text-group me">
													<div class="text me">
														<p>Roger that boss!</p>
													</div>
												</div>
												<div class="text-group me">
													<div class="text me">
														<p>I have already started gathering some stuff for the mood
															boards, excited to start!</p>
													</div>
												</div>
												<span>10:21 PM</span>
											</div>
										</div>
										<div class="message">
											<img class="avatar-md" src="img/avatars/avatar-female-5.jpg"
												data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">
											<div class="text-main">
												<div class="text-group">
													<div class="text">
														<p>Great start guys, I've added some notes to the task. We may
															need to make some adjustments to the last couple of items -
															but no biggie!</p>
													</div>
												</div>
												<span>11:07 PM</span>
											</div>
										</div>
										<div class="date">
											<hr>
											<span>Today</span>
											<hr>
										</div>
										<div class="message me">
											<div class="text-main">
												<div class="text-group me">
													<div class="text me">
														<p>Well done all. See you all at 2 for the kick-off meeting.</p>
													</div>
												</div>
												<span>10:21 PM</span>
											</div>
										</div>
										<div class="message">
											<img class="avatar-md" src="img/avatars/avatar-female-5.jpg"
												data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">
											<div class="text-main">
												<div class="text-group">
													<div class="text">
														<div class="attachment">
															<button class="btn attach"><i
																	class="material-icons md-18">insert_drive_file</i></button>
															<div class="file">
																<h5><a href="#">Tenacy Agreement.pdf</a></h5>
																<span>24kb Document</span>
															</div>
														</div>
													</div>
												</div>
												<span>11:07 PM</span>
											</div>
										</div>
										<div class="message me">
											<div class="text-main">
												<div class="text-group me">
													<div class="text me">
														<p>Hope you're all ready to tackle this great project. Let's
															smash some Brand Concept & Design!</p>
													</div>
												</div>
												<span><i class="material-icons">check</i>10:21 PM</span>
											</div>
										</div>
										<div class="message">
											<img class="avatar-md" src="img/avatars/avatar-female-5.jpg"
												data-toggle="tooltip" data-placement="top" title="Keith" alt="avatar">
											<div class="text-main">
												<div class="text-group">
													<div class="text typing">
														<div class="wave">
															<span class="dot"></span>
															<span class="dot"></span>
															<span class="dot"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="col-md-12">
									<div class="bottom">
										<form class="position-relative w-100">
											<textarea class="form-control" placeholder="Start typing for reply..."
												rows="1"></textarea>
											<button class="btn emoticons"><i
													class="material-icons">insert_emoticon</i></button>
											<button type="submit" class="btn send"><i
													class="material-icons">send</i></button>
										</form>
										<label>
											<input type="file">
											<span class="btn attach d-sm-block d-none"><i
													class="material-icons">attach_file</i></span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<!-- End of Chat -->
					</div>
					<!-- End of Babble -->
					<!-- Start of Babble -->
					<div class="babble tab-pane fade" id="list-request" role="tabpanel"
						aria-labelledby="list-request-list">
						<!-- Start of Chat -->
						<div class="chat" id="chat3">
							<div class="top">
								<div class="container">
									<div class="col-md-12">
										<div class="inside">
											<a href="#"><img class="avatar-md"
													src="img/avatars/avatar-female-6.jpg" data-toggle="tooltip"
													data-placement="top" title="Janette" alt="avatar"></a>
											<div class="status">
												<i class="material-icons offline">fiber_manual_record</i>
											</div>
											<div class="data">
												<h5><a href="#">Janette Martinez</a></h5>
												<span>Inactive</span>
											</div>
											<button class="btn d-md-block disabled d-none" disabled><i
													class="material-icons md-30">info</i></button>
											<div class="dropdown">
												<button class="btn disabled" data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false" disabled><i
														class="material-icons md-30">more_vert</i></button>
												<div class="dropdown-menu dropdown-menu-right">
													<button class="dropdown-item"><i
															class="material-icons">clear</i>Clear History</button>
													<button class="dropdown-item"><i
															class="material-icons">block</i>Block Contact</button>
													<button class="dropdown-item"><i
															class="material-icons">delete</i>Delete Contact</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="content empty">
								<div class="container">
									<div class="col-md-12">
										<div class="no-messages request">
											<a href="#"><img class="avatar-xl"
													src="img/avatars/avatar-female-6.jpg" data-toggle="tooltip"
													data-placement="top" title="Louis" alt="avatar"></a>
											<h5>Louis Martinez would like to add you as a contact. <span>Hi Keith, I'd
													like to add you as a contact.</span></h5>
											<div class="options">
												<button class="btn button"><i class="material-icons">check</i></button>
												<button class="btn button"><i class="material-icons">close</i></button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="col-md-12">
									<div class="bottom">
										<form class="position-relative w-100">
											<textarea class="form-control" placeholder="Messaging unavailable" rows="1"
												disabled></textarea>
											<button class="btn emoticons disabled" disabled><i
													class="material-icons">insert_emoticon</i></button>
											<button class="btn send disabled" disabled><i
													class="material-icons">send</i></button>
										</form>
										<label>
											<input type="file" disabled>
											<span class="btn attach disabled d-sm-block d-none"><i
													class="material-icons">attach_file</i></span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<!-- End of Chat -->
					</div>
					<!-- End of Babble -->
				</div>
			</div>
		</div> <!-- Layout -->
	</main>
	<!-- Bootstrap/Swipe core JavaScript
		================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="js/vendor/popper.min.js"></script>
	<script src="js/swipe.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script>
		function scrollToBottom(el) { el.scrollTop = el.scrollHeight; }
		scrollToBottom(document.getElementById('content'));
	</script>
</body>

</html>