<%include ./common/starting%>
    <script src="javascript/check.js"> </script>
    <div class="display-left">
        <a href="index.html">
            <img class="logo" src="images/logo.png" alt="Logo" />
        </a>
        <p style="
          color: red;
          background-color: black;
          padding: 5px;
          font-style: italic;
          border: outset gold 5px;
        ">
            Welcome to {...DOT-CHAT...}
        </p>
    </div>

    <div class="display-right">
        <nav>
            <a class="link" href="index.html">HOME</a>
            <a class="link" href="https://7ragnarok7.github.io/Dot.Chat/">ABOUT</a>
            <a class="link" href="contact.html">CONTACT US</a>
        </nav>
    </div>

    <div class="form">
        <h2><br />Lets create your account!</h2>
        <form autocomplete="on" method="POST" action="success.html">
            <fieldset>
                <legend>Personal Details</legend>
                <label for="fname">First name:</label><br />
                <input type="text" name="fname" placeholder="First Name" required /><br />
                <label for="lname">Last name:</label><br />
                <input type="text" name="lname" placeholder="Last Name" required /><br />

                <label for="email">Email address:</label><br />
                <input type="email" name="email" placeholder="someone@example.com" required /><br />

                <label for="text">Phone Number (Optional):</label><br />
                <input type="tel" name="number" placeholder="xxx-xxx-xxxx" /><br />
            </fieldset>
            <br />
            <fieldset>
                <legend>Gender</legend>
                <input type="radio" name="gender" value="male" required />
                <label for="male">Male</label><br />
                <input type="radio" name="gender" value="female" required />
                <label for="female">Female</label><br />
                <input type="radio" name="gender" value="other" required />
                <label for="other">Rather not mention</label><br />
            </fieldset>
            <br />
            <fieldset>
                <legend>Credentials</legend>
                <label for="pwd">Password:</label><br />
                <input type="password" class="news" name="pwd" id="pwd" placeholder="password" onkeyup='check();'
                    required /><br />
                <label for="pwd">Confirm Password:</label><br />
                <input type="password" class="news" name="confirm_pwd" id="confirm_pwd" placeholder="confirm password"
                    onkeyup='check();' required /><br />
                <span id='message'></span>
            </fieldset>
            <button type="submit" class="signup" style="margin-left: 120px">Sign Up</button><br />
            <fieldset>
                <p style="color: coral; padding: 10px;">Have an account already? <br />
                    Login instead by clicking below
                </p>
                <button class="login" style="margin:0 0 0 80px;" onclick="window.location.href='index.html';"> Log In
                    Instead?</button>
            </fieldset>
            <br /><br />
        </form>
<%include ./common/ending%>