/*BODY OF ALL HTML AND EJS PAGES*/
body {
  background: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  color: snow;
}

/*DEFINES  THE LOGO IN THE INDEX PAGE*/
header {
  text-align: left;
  padding-left: 120px;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*COMMON PROPERTY  DEFINATION OF ALL IMAGES USED IN THE PROJECT*/
img {
  border-radius: 10px;
  padding: 10px;
}

/*COMMON PROPERTY  DEFINATION OF ELEMENTS THAT FALL UNDER ICON CLASS*/
.icon {
  width: 10%;
}

/*DEFINES  THE BACKGROUND COLOUR OF ELEMENTS USING LOGO CLASS*/
.logo {
  background: linear-gradient(45deg, rgb(255, 38, 0), rgb(35, 223, 248), gold);
}

/*COMMON PROPERTY  DEFINATION  OF ELEMENTS THAT ARE USING THE ANCHOR TAG*/
a {
  color: red;
  font-style: italic;
  font-weight: bold;
  padding: 3px;
  text-decoration: none;
}

/*DEFINES  THE HOVER COLOUR EFFECT OF ELEMENTS THAT FALL UNDER LINK CLASS*/
.link:hover {
  color: chartreuse;
}

/*COMMON PROPERTY  DEFINATION  OF THE NAVIGATION BARS*/
nav {
  background: black;
  padding: 5px;
  border-radius: 15px;
  border: inset gold;
}

/*COMMON PROPERTY  DEFINATION  OF ALL THE BUTTONS */
button {
  text-align: center;
  display: inline-block;
  margin: 5px 0 0 15px;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  transition: width 0.4s ease-in-out;
  cursor: pointer;
  border: 3px outset chartreuse;
  border-radius: 100px;
}

/*COMMON PROPERTY  DEFINATION OF BUTTONS THAT FALL UNDER LOGIN CLASS*/
.login {
  margin-top: 25px;
  background: red;
}

/*DEFINES  THE HOVER COLOUR EFFECT OF ELEMENTS THAT FALL UNDER LOGIN CLASS*/
.login:hover {
  background: chartreuse;
  color: red;
}

/*DEFINES  ADDITIONAL PROPERTY OF BUTTONS THAT FALL UNDER SIGNUP CLASS*/
.signup {
  background: blue;
  margin: 30px 0;
}

/*DEFINES  THE HOVER COLOUR EFFECT OF ELEMENTS THAT FALL UNDER SIGNUP CLASS*/
.signup:hover {
  background: chartreuse;
  color: red;
}

/*DEFINES THE  PROPERTIES OF THE LEFT AND RIGHT DIVISIONS OF THE LOGIN PAGE*/
.left,
.right {
  width: 42%;
  background-color: rgba(0, 0, 0, 0.623);
  backdrop-filter: blur(7px);
}

/*DEFINES  ADDITIONAL PROPERTIES OF THE LEFT DIVISION IN THE LOGIN PAGE*/
.left {
  float: left;
  margin: 50px 0 20px 30px;
  padding: 40px 20px 12px 40px;
  border-radius: 300px 0 0 300px;
  text-align: right;
}

/*DEFINES  ADDITIONAL PROPERTIES OF THE RIGHT DIVISION IN THE LOGIN PAGE*/
.right {
  float: right;
  margin: 50px 30px 20px 0;
  padding: 22px 40px 4px 20px;
  border-radius: 0 300px 300px 0;
}

/*DEFINES  THE SIGNUP PART INSIDE THE RIGHT DIVISION IN THE LOGIN PAGE*/
.register {
  width: 40%;
  margin: 30px 0 20px 0;
  float: right;
  padding: 0 0 0 20px;
  text-align: left;
  border-left: dotted 7px rgb(0, 255, 13);
  font-style: italic;
  color: aqua;
}

/*DEFINES THE PROPERTIES  OF THE FORMS */
form {
  display: inline-block;
  text-align: left;
}

/*DEFINES THE PROPERTIES OF THE LABELS OF THE INPUT BOXES*/
label {
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-align: left;
  margin: 10px;
  color: greenyellow;
}

/*DEFINES DIFFERENT DIVISIONS OF THE REGISTRATION  FORM*/
legend {
  color: coral;
}

/*DEFINES DIFFERENT DIVISIONS OF THE REGISTRATION  FORM*/
fieldset {
  border: dashed aqua;
  width: 95%;
}

/*DEFINES THE PROPERTY OF THE  INPUT BOXES*/
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  width: 75%;
  height: 35px;
  display: inline-block;
  margin: 5px 40px 10px 0;
  border: 5px inset rgb(0, 162, 255);
  padding: 10px;
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: width 0.4s ease-in-out;
}

/*DEFINES  ANIMATION PROPERTY OF THE INPUT BOXES*/
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  width: 90%;
}

/*DEFINES ADDITIONAL PROPERTIES  OF THE LOGIN FORM IN THE LOGIN PAGE*/
.loginform {
  width: 40%;
  float: left;
  font-style: italic;
}

/*DEFINES THE PROPERTIES OF THE ELEMENTS THAT USE THE FORM, DISPLAY-LEFT AND DISPLAY-RIGHT CLASS*/
.form,
.display-left,
.display-right,
.recovery {
  text-align: center;
  background: rgba(0, 0, 0, 0.623);
  backdrop-filter: blur(7px);
  border-radius: 50px;
}

/*DEFINES THE PROPERTIES OF THE ELEMENTS THAT USE THE FORM CLASS*/
.form,
.recovery {
  width: 35%;
  float: center;
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: indianred;
  margin: auto;
}

/*DEFINES THE PROPERTIES OF THE LOGO DIVISION ON THE  LOGIN, REGISTER, CONTACT, RECOVERY PAGES*/
.display-left {
  float: left;
  padding: 20px;
}

/*DEFINES THE NAVIGATION BAR DIVISION IN THE LOGIN, REGISTER, CONTACT, RECOVERY PAGES*/
.display-right {
  float: right;
  padding: 20px;
}

/*DEFINES THE HEAD,CONTACT AND NEWSLETTER DIVISION IN THE CONTACT PAGE*/
.head,
.contact,
.newsletter,
.recovery {
  display: inline-block;
  background: rgba(0, 0, 0, 0.623);
  backdrop-filter: blur(7px);
  border: 5px inset aqua;
}

/*DEFINES THE ADDITIONAL PROPERTIES OF THE  HEAD DIVISION ON THE CONTACT PAGE*/
.head {
  margin: 30px 30px 30px 118px;
  text-align: center;
  padding: 20px;
  border-radius: 50px;
}

/*DEFINES THE  ADDITIONAL PROPERTIES OF THE  CONTACT DIVISIONS IN THE CONTACT PAGE*/
.contact {
  width: 30%;
  text-align: center;
  margin: 10px 5px 10px 5px;
  border-radius: 30px 0 30px 0;
  padding: 10px;
}

/*DEFINES THE  ADDITIONAL PROPERTIES OF THE  NEWSLETTER DIVISION IN THE CONTACT PAGE*/
.newsletter,
.recovery {
  position: relative;
  left: 34%;
  margin-top: 25px;
  text-align: left;
  padding: 15px;
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 50px;
}

/*ADJUSTMENT OF THE NEWSLETTER INPUT BOXES*/
#news {
  width: 45%;
}

#news:focus {
  width: 60%;
}

/*DEFINES THE HOVERING EFFECT ON THE IMAGES AND THE BUTTONS*/
img:hover,
button:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/*TO CLEAR ANY SPACE AFTER DIVISIONS*/
.clear {
  clear: both;
}
/*DEFINES THE CHARACTERISTICS OF THE ELEMENTS IN THE PASSWORD RECOVERY BOX*/
.recovery {
  padding: 20px 20px 10px 20px;
  text-align: center;
}
