<footer class="bg-dark text-light text-center p-3">
  <p class="mb-0">GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<!-- <script src="scripts.js"></script> -->

</body>

</html>